# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Build
build/
dist/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Logs
*.log

# OS files
.DS_Store

# Env
.env

# Node
node_modules/

# Python (just in case)
__pycache__/